@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
$base_black: #1E1E1E;
$base_primary: #2B385B;
$base_grey: #F3F3F3;
$base_font: 'Oswald', sans-serif;


body{
  padding: 0px;
  margin: 0px;
  background: $base_grey;
  font-family: $base_font;
}