$base_font: "Oswald", sans-serif;
$base_black: #1e1e1e;
$base_primary: #2b385b;
$base_grey: #f3f3f3;
$base_white: #ffff;

.hero {
  padding: 1%;
  padding-inline: 7%;
  height: 60vh;
  background-image: url("../public/hero_back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  a {
    text-decoration: none;
    color: $base_white;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2.5px;
  }

  button {
    border: 0;
    outline: transparent;
    border-radius: 3px;
    font-family: $base_font;
    padding: 5px;
    padding-inline: 15px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.hero_body {
  margin-block-start: 5%;
  display: flex;
  justify-content: space-between;
  .hero_text {
    width: 41%;
    margin-block-start: 1%;
    h1 {
      color: $base_white;
      letter-spacing: 15px;
      font-size: 70px;
      padding: 0;
      margin: 0;
    }

    h2 {
      border-spacing: 0px;
      font-weight: 100;
      color: $base_white;
      letter-spacing: 18.5px;
      padding: 0;
      margin: 0;
    }
    p {
      color: $base_white;
      font-weight: 200;
      letter-spacing: 3px;
      width: 93%;
    }

    .hero_text_button {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $base_white;
      padding: 1%;
      width: 72%;
      h3 {
        margin: 2px;
        letter-spacing: 3px;
        font-size: 15px;
        color: $base_white;
      }

      button {
        letter-spacing: 2px;
        font-family: $base_font;
        outline: transparent;
        border: 0;
        padding-inline: 25px;
        padding-block: 5px;
        font-weight: 900;
      }
    }
  }
}

.body_start {
  padding-inline: 7%;
  width: 32%;
  h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }

  button {
    letter-spacing: 2px;
    font-family: $base_font;
    outline: transparent;
    border: 1 solid $base_black;
    padding-inline: 25px;
    padding-block: 8px;
    font-weight: 900;
    margin-top: 10px;
  }
}
