$base_font: "Oswald", sans-serif;
$base_black: #1e1e1e;
$base_primary: #2b385b;
$base_grey: #f3f3f3;
$base_white: #ffff;

.hero {
  padding: 1%;
  padding-inline: 7%;
  height: 60vh;
  background-image: url("../public/hero_back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  a {
    text-decoration: none;
    color: $base_white;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2.5px;
  }

  button {
    border: 0;
    outline: transparent;
    border-radius: 3px;
    font-family: $base_font;
    padding: 5px;
    padding-inline: 15px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.hero_body {
  margin-block-start: 5%;
  display: flex;
  justify-content: space-between;
  .hero_text {
    width: 41%;
    margin-block-start: 1%;
    h1 {
      color: $base_white;
      letter-spacing: 15px;
      font-size: 70px;
      padding: 0;
      margin: 0;
    }

    h2 {
      border-spacing: 0px;
      font-weight: 100;
      color: $base_white;
      letter-spacing: 18.5px;
      padding: 0;
      margin: 0;
    }
    p {
      color: $base_white;
      font-weight: 200;
      letter-spacing: 3px;
      width: 93%;
    }

    .hero_text_button {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $base_white;
      padding: 1%;
      width: 72%;
      h3 {
        margin: 2px;
        letter-spacing: 3px;
        font-size: 15px;
        color: $base_white;
      }

      button {
        letter-spacing: 2px;
        font-family: $base_font;
        outline: transparent;
        border: 0;
        padding-inline: 25px;
        padding-block: 5px;
        font-weight: 900;
      }
    }
  }
}

.body_start {
  padding-inline: 7%;
  width: 32%;
  h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }

  button {
    letter-spacing: 2px;
    font-family: $base_font;
    outline: transparent;
    border: 1 solid $base_black;
    padding-inline: 25px;
    padding-block: 8px;
    font-weight: 900;
    margin-top: 10px;
  }
}

.body_center{
  padding-inline: 7%;
  margin-block-start: 5%;

  hr{
    border: 2px dashed #000000;
  }
}

.paintings_view{
  padding-inline: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    letter-spacing: 5px;
    font-size: 45px;
  }
  
  a{
    text-decoration: none;
    color: $base_primary;
  }
}

.paintings{
  padding-inline: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5%;

  .painting{
    width: 48%;
    display: flex;
    align-items: flex-start;
    border: 3px solid $base_black;
    padding: .4%;
    margin-bottom: .5%;

    .painting_image{
      padding-right: 1.5%;
      padding-left: .4%;
    }

    .text_head{
      h2{
        line-height: 0;
      }
      span{
        font-weight: 300;
      }
      p{
        border-spacing: 0px;
        font-weight: 300;
      }
    }

    .painting_text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 180px;
    }
    
  }
}

.footer{
  background-color: $base_black;
  

  .footer_content{
    display: flex;
    padding-inline: 7%;
    padding-block: 2%;
    width: 50%;

    .footer_text{
      padding-left: 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text_head{
        h1{
          line-height: 0;
          color: $base_white;
          margin-bottom: 7%;
        }
  
        p{
          color: $base_white;
          font-weight: 200;
        }

        .socials{
          display: flex;
          gap: 15px;

          i{
            color: $base_white;
            font-size: 25px;
          }

        }
      }

      .cta{
        padding-bottom: 2%;
        button{
          letter-spacing: 2px;
          font-family: $base_font;
          outline: transparent;
          background: transparent;
          border: 1px solid $base_white;
          padding-inline: 40px;
          font-size: 18px;
          color: $base_white;
          padding-block: 10px;
          font-weight: 900;
        }
      }
    }
  }
}
